<section>
    <mat-form-field>
        <mat-label>HH</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>MM</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>SS</mat-label>
        <input matInput>
    </mat-form-field>
</section>
<section>
    <button mat-fab color="warn">Cancel</button>
    <button class="mrgL10" mat-fab color="primary">Start</button>
</section>
<section>
    <label>Volume:</label>
    <mat-slider></mat-slider>
</section>