<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Timer</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>

    <mat-tab label="Count down">
        <mat-card>
            <mat-card-content>
                <app-countdown></app-countdown>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab label="Count up">
        <mat-card>
            <mat-card-content>
                TODO Count up
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab label="Gym timer">
        <mat-card>
            <mat-card-content>
                TODO Gym timer
            </mat-card-content>
        </mat-card>
    </mat-tab>

</mat-tab-group>