<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Timer</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <section>
            <mat-form-field>
                <mat-label>HH</mat-label>
                <input matInput >
            </mat-form-field>
            <mat-form-field>
                <mat-label>MM</mat-label>
                <input matInput >
            </mat-form-field>
            <mat-form-field>
                <mat-label>SS</mat-label>
                <input matInput >
            </mat-form-field>
        </section>
        <section>
            <label>Progress:</label>
            <mat-slider></mat-slider>
        </section>
    </mat-card-content>
</mat-card>